<footer class="ae-container-fluid rk-footer ">
  <div class="ae-grid ae-grid--collapse">
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
      <ul class="rk-menu rk-footer-menu">
        <li class="rk-menu__item"><a routerLink="about" class="rk-menu__link">About</a>
        </li>
        <li class="rk-menu__item"><a routerLink="docs" class="rk-menu__link">Docs</a>
        </li>
        <li class="rk-menu__item"><a routerLink="contact" class="rk-menu__link">Contact</a>
        </li>
      </ul>
      <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span><span class="ae-u-bolder">{{anio}} {{_infoServicio.info.titulo}} </span>All Right Reserved.</p>
    </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center" ><a href="#0" class="rk-social-btn ">
        <a target="_blank" [href]="_infoServicio.info.linkedin"><img src="assets/img/blue-linkedin-logo.svg" alt="Linkedin">
        </a>
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-facebook"></use>
        </svg>
        </a><a href="#0" class="rk-social-btn ">
        <svg>
          <use xlink:href="assets/img/symbols.svg#icon-twitter"></use>
        </svg>
        </a><a href="#0" class="rk-social-btn "></a>
      </div>
    <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
      <p class="rk-footer__text rk-footer__contact "> <span class="ae-u-bold">Email: </span><span class="ae-u-bolder"> <a href="mailto:{{_infoServicio.info.email}}" class="rk-dark-color ">{{_infoServicio.info.email}} </a></span></p>
      <p class="rk-footer__text rk-footer__by">Powered by <a target="_blank" [href]="_infoServicio.info.webSite" class="ae-u-bolder">Ing. Victor Ml Nuñez</a></p>
    </div>
  </div>
</footer>
